.main{
  background-color: var(--color-1);
  min-height: 71vh;
}
form{margin: 10px auto; }

.register{
  margin-block: 10px;
  min-height: 300px;
  border: 1px solid var(--color-11);
  border-radius: 20px;
  padding: 10px;
}

.input-group-text{
  background-color:var(--color-10);
  border-color: var(--color-11);
  color: var(--color-1);
}

span.input-group-text.col-1{
  padding-left: 7px;
  text-align: center;
}

.slide-2{
  margin-top: 60px;
}

img{
  border-radius: 10px;
  border: 1px solid var(--color-11);
}
img:hover{
  cursor: pointer;
  border-width: 2px;
}
.dropdown-menu{
  --bs-dropdown-min-width: 7rem;
}

input[type="file"]{
  width: 0;
  height: 0;
  overflow: hidden;
}

.carousel-control-next, .carousel-control-prev {
    position: static;
    display: block;
    width: fit-content;
    opacity: 1;
}

.carousel-control-next span, .carousel-control-prev span, .carousel-control-next a{
  padding-block: 10px;
  padding-inline: 20px;
}

.carousel-control-prev span{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.carousel-control-next span, .carousel-control-next a{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
