<div class="main just d-flex align-items-center">
  <div class="container form">
    <h1 class="text-start">Login</h1>
    <form [formGroup]="loginForm">
      <div class="form-group username">
        <label for="username">username:</label>
        <input
          type="text"
          formControlName="username"
          placeholder="Enter your username"
        />
      </div>

      <div class="form-group password">
        <label for="password">Password:</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <!-- <h4>Login</h4> -->
      <input
        class="btn btn-rose-taupe"
        type="button"
        value="Login"
        (click)="login()"
      />
    </form>
  </div>
</div>
