h1 {
  color: var(--color-10);
  font-weight: bold;
}

section {
  border: 1px solid var(--color-11);
  background-color: var(--color-1);
}

h2 {
  color: var(--color-9);
}

p {
  color: var(--color-10);
}

