<div class="main">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Brand Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a>
                    </li>
                    @if(userType == "none")
                    {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login">Products</a>
                        </li>
                    }
                    @else if(userType == "user")
                    {
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                        </li>
                    }
                    @if(userType == "admin")
                    {
                      <li class="nav-item">
                          <a class="nav-link" routerLinkActive="active" routerLink="/admin-products">Products</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/admin-orders">Orders</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if(userType == "none")
                    {
                        <button class="nav-item btn btn-outline-rose-taupe">
                            <a class="nav-link" routerLink="/login">Login</a>
                        </button>
                        <button class="nav-item btn btn-rose-taupe">
                            <a class="nav-link"  routerLink="/register">Sign Up</a>
                        </button>
                    }
                    @else if(userType == "user")
                    {
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/profile">{{userName}}</a>
                        </li>
                        <li class="nav-item btn avatar">
                            <a class="nav-link d-inline" routerLink="/profile"><img src="Images/user-avatar.png" width="36" height="36"/></a>
                        </li>
                        <li class="nav-item btn cart">
                            <a class="nav-link d-inline" routerLinkActive="active" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                    }
                    @else if (userType == "admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link">{{userName}}</a>
                        </li>
                    }
                    @if(userType == "admin" || userType == "user")
                    {
                        <button class="nav-item btn btn-rose-taupe">
                            <a class="nav-link" routerLink="/" (click)="signout()">Sign Out</a>
                        </button>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>
