.main{
    background-color: #eddde2;
}

.navbar{
    padding-bottom: 0;
}

.container{
    border-bottom: 1px solid #391e23;
    padding-bottom: 0.5rem;
}

.btn{
    padding-block: 0;
}

@media (min-width: 992px) {
    .btn-outline-rose-taupe, .btn-rose-taupe{
        margin-left: 0.75rem;
    }
}
@media (max-width: 991px) {
    .btn-outline-rose-taupe, .btn-rose-taupe{
        margin-bottom: 0.75rem;
    }
}

.avatar, .user-name{
    --bs-btn-padding-x: 0;
}

.cart{
    padding: 0;
}

@media (max-width: 991px){
  .avatar{
    margin-right: 10px;
  }
  .cart{
    float: right;
  }
}

i{
    font-size: 27px;
    padding-top: 5px;
}
