h1{
  color: white;
  background-color: var(--color-7);
}

.products { background-color: var(--color-2); }
.products h2, .categories h2 { color: var(--color-7); }
.product-list, .category-list { gap: 1rem; }

/* Style for each product card */
.card {
  border: 2px solid var(--color-7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img { border-bottom: 2px solid var(--color-7); }

.card h3 {
  color: var(--color-7);
  font-size: 1.1rem;
}

.card p { color: #333; }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
