<div class="main">
  <h1 class="text-center p-3">Welcome to Our Store</h1>
  <div class="categories pt-3">
    <h2 class="text-center m-3 fw-bold">Categories</h2>
    <div class="category-list container d-flex flex-wrap justify-content-center pb-3">
      <div
        *ngFor="let category of categories"
        class="card bg-white rounded text-center p-3"
        (click)="navigateToCategory(category.name)"
      >
        <img class="img-fluid d-none d-sm-inline" [src]="category.pic" alt="{{ category.name }}" />
        <h3 class="m-2">{{ category.name }}</h3>
      </div>
    </div>
  </div>
  <div class="products pt-3">
    <h2 class="text-center m-3 fw-bold">Products</h2>
    <div class="product-list container d-flex flex-wrap justify-content-center pb-3">
      <div
        *ngFor="let product of Products"
        class="card bg-white rounded text-center p-3"
      >
        <img class="img-fluid" [src]="product.image" alt="{{ product.title }}" />
        <h3 class="m-2">{{ product.title }}</h3>
        <p class="m-1">{{ product.details }}</p>
        @if(user.userType !== "none")
        {
          <p class="m-1">Price: ${{ product.price }}</p>
          <button class="btn btn-rose-taupe" (click)="addToCart(product)">Add to Cart</button>
        }
      </div>
    </div>
</div>
