@media (min-width: 768px)
{
  .orders{
    max-height: 600px;
    overflow-y: auto;
  }
}

.order{background-color: var(--color-1);}
.order:hover{background-color: var(--color-2);}
.order-header:hover{cursor: pointer;}
