<div class="main alert align-items-stretch">
    <h3>History</h3>
    <div id="orders" class="orders list-group">
      @if(orders.length === 0)
      {
        <div>Orders list is empty</div>
      }
      @for(order of orders; track order.id)
      {
        <div class="order list-group-item list-group-item-action">
          <div class="row order-header" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+order.id">
            <div class="col-6">
              <p><span class="font-weight-bold">Order ID: </span>{{order.id}}</p>
              <p><span class="font-weight-bold">Order Date: </span><br/>{{order.datetime}}</p>
              <p><span class="font-weight-bold">Status: </span>
                @if(order.status == "Pending")
                {
                  <span style="color: #444444;">{{order.status}}</span>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-primary ml-1" (click)="cancelOrder($event, order.id)">Cancel</button>
                }
                @else if(order.status == "Accepted") {<span style="color: #50C429;">{{order.status}}</span>}
                @else if(order.status == "Rejected") {<span style="color: #FF0000;">{{order.status}}</span>}
                @else if(order.status == "Canceled") {<span style="color: #0000FF;">{{order.status}}</span>}
              </p>
            </div>
            <div class="col-6">
              <p>Total</p>
              <p class="h1 fw-bold">${{order.total}}</p>
            </div>
          </div>
          <div [id]="'collapse'+order.id" class="collapse">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                @for(product of order.products; track product.id)
                {
                  <tr>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>${{product.price * product.quantity}}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }
    </div>
</div>
