.orders{overflow-x: hidden;}
@media (min-width: 768px)
{
  .orders{
    max-height: 600px;
    overflow-y: auto;
  }
}
.order span{ font-weight: bold;}
.order:hover{background-color: var(--color-1);}
.order-header:hover{cursor: pointer;}
.h1{font-size: calc(2.375rem + 1.5vw)}
