.main{
  background-color: #391e23;
  color: #f9f6f7;
  padding-top: 35px;
  padding-bottom: 10px;
}
p{
  margin-bottom: 0;
  font-size: small;
}

a{
  color: #f9f6f7;
  font-style: none;
}
.contact-us a{
  font-size: 24px;
}
