<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterProducts()"
    placeholder="Search products by title"
  />
</div>

<div class="products">
  <h2 class="head">Products</h2>

  <button
    (click)="viewCart()"
    class="but"
    onmouseover="this.style.background='linear-gradient(135deg, #8a4d59, #7a3c49)'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.3)';"
    onmouseout="this.style.background='linear-gradient(135deg, #9a5b69, #8a4d59)'; this.style.transform='scale(1)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
  >
    View Cart
  </button>

  <div class="product-list">
    <div
      *ngFor="let product of filteredProducts"
      class="product-card border-copper-rose-200 shadow-copper-rose-300"
    >
      <img [src]="product.image" alt="{{ product.title }}" />
      <h3>{{ product.title }}</h3>

      <h3>Price: ${{ product.price }}</h3>
      <button
        (click)="addToCart(product)"
        class="but"
        onmouseover="this.style.background='linear-gradient(135deg, #8a4d59, #7a3c49)'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.3)';"
        onmouseout="this.style.background='linear-gradient(135deg, #9a5b69, #8a4d59)'; this.style.transform='scale(1)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
      >
        Add to Cart</button
      ><br /><br />
      <button
        (click)="detail(product.id)"
        class="but"
        onmouseover="this.style.background='linear-gradient(135deg, #8a4d59, #7a3c49)'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.3)';"
        onmouseout="this.style.background='linear-gradient(135deg, #9a5b69, #8a4d59)'; this.style.transform='scale(1)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.2)';"
      >
        detail
      </button>
    </div>
  </div>
</div>
