/* You can add global styles to this file, and also import other style files */
.container{max-width: 1080px;}

.btn-outline-rose-taupe {
  --bs-btn-color: #894d59;
  --bs-btn-border-color: #894d59;
  --bs-btn-hover-bg: #894d59;
  --bs-btn-hover-border-color: #894d59;
  --bs-btn-active-bg: #894d59;
  --bs-btn-active-border-color: #894d59;
}

.btn-rose-taupe {
  --bs-btn-bg: #894d59;
  --bs-btn-border-color: #894d59;
  --bs-btn-hover-bg: #72424a;
  --bs-btn-hover-border-color: #613a41;
  --bs-btn-active-bg: #613a41;
  --bs-btn-active-border-color: #391e23;
  --bs-nav-link-color: #eddde2;
  --bs-nav-link-hover-color: #eddde2;
}
